
/* Sebastian */
.menu {
	li {
		a, span {
			position: relative;
			display: block;
			text-align: center;
			padding:10px 0;
			color: #fff;
			-webkit-transition: color 0.4s;
			transition: color 0.4s;
			cursor: pointer;

			&:hover,
			&:focus {
				color: #fff;
				font-weight:bold;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background: #043877;
				-webkit-transform: scale3d(0, 1, 1);
				transform: scale3d(0, 1, 1);
				-webkit-transition: -webkit-transform 0.2s;
				transition: transform 0.2s;
			}
				
			&::before {
				top: 0;
				-webkit-transform-origin: 0 50%;
				transform-origin: 0 50%;
			}

			&::after {
				bottom: 0;
				-webkit-transform-origin: 100% 50%;
				transform-origin: 100% 50%;
			}

		}
		&.current {
			background-attachment: fixed;
			font-weight:bold;
			a, span {
				// color: #d94f5c;
				&::before,
				&::after {
					-webkit-transform: scale3d(1, 1, 1);
					transform: scale3d(1, 1, 1);
					-webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
					transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
					-webkit-transition-duration: 0.4s;
					transition-duration: 0.4s;			
				}
			}			
		}
	}
}