.container {
  text-align: center;
  display:flex;
  align-items: center;
}

/* Joined both selectors, since were pretty much the same */
.container::before,
.container::after {      
  flex-grow: 1;
  /* Changed to border-top (instead of border) to simulate a line better */
  border-top: 1px solid #111;
  content: '';

  /* Use margins to give the lines some spacement around the icon */
  /* Use margins in % for a responsive spacement */
}

.container .icon {
  
}