/* ./styles/globals.css */
@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  p {
    // @apply mb-3;
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color:#333;
    line-height:1.8;
}
html {
  height: 100%;
}

body {
  height: 100%;
}

html,
body,
body > div:first-child,
div#__next
/* div#__next > div  */
{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes loadingCubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes loadingCubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


@import "tippy.js/dist/tippy";

.tippy-box[data-theme~='memberhub'] {

  background-color: #097BD8;
  color: white;

  &[data-placement^=right] .tippy-arrow:before {
    border-right-color: #097BD8;
  }
  &[data-placement^=top] .tippy-arrow:before {
    border-top-color: #097BD8;
  }
  &[data-placement^=left] .tippy-arrow:before {
    border-left-color: #097BD8;
  }
  &[data-placement^=bottom] .tippy-arrow:before {
    border-bottom-color: #097BD8;
  }
}


.tippy-box[data-theme~='memberhub-block-menu'] {

  background-color: white;
  @apply text-grey-dark;

  .tippy-arrow {
    display: none;
  }
  .tippy-content {
    padding:0;
  }
}


.tippy-box[data-theme~='memberhub-white'] {

  background-color: white;
  color: #097BD8;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .2));

  &[data-placement^=right] .tippy-arrow:before {
    border-right-color: white;
  }
  &[data-placement^=top] .tippy-arrow:before {
    border-top-color: white;
  }
  &[data-placement^=left] .tippy-arrow:before {
    border-left-color: white;
  }
  &[data-placement^=bottom] .tippy-arrow:before {
    border-bottom-color: white;
  }
}
