/* ./styles/globals.css */
:root {
  --course-body-font: -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --course-headings-font: -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  p {
    // @apply mb-3;
  }
  @layer base {
    .remove-spin-button[type="number"]::-webkit-inner-spin-button,
    .remove-spin-button[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
}

@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--theme-font-body, -apple-system), BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color:#333;
    line-height:1.8;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--theme-font-headings, -apple-system), BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
  }
}


html {
  height: 100%;
}

body {
  height: 100%;
}

html,
body,
body > div:first-child,
div#__next
/* div#__next > div  */
{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes loadingCubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes loadingCubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


@import "tippy.js/dist/tippy";

.tippy-box[data-theme~='memberhub'] {
  z-index: 9999 !important;
  background-color: theme('colors.main.DEFAULT');;
  color: white;

  &[data-placement^=right] .tippy-arrow:before {
    border-right-color: theme('colors.main.DEFAULT');;
  }
  &[data-placement^=top] .tippy-arrow:before {
    border-top-color: theme('colors.main.DEFAULT');;
  }
  &[data-placement^=left] .tippy-arrow:before {
    border-left-color: theme('colors.main.DEFAULT');;
  }
  &[data-placement^=bottom] .tippy-arrow:before {
    border-bottom-color: theme('colors.main.DEFAULT');;
  }
}

.tippy-box[data-theme~='memberhub-block-menu'] {

  background-color: white;
  
  @apply text-grey-dark shadow-md;

  .tippy-content {
    padding:0;
  }
}


.tippy-box[data-theme~='memberhub-white'] {

  background-color: white;
  z-index: 9999 !important;
  color: theme('colors.main.DEFAULT');
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .2));

  &[data-placement^=right] .tippy-arrow:before {
    border-right-color: white;
  }
  &[data-placement^=top] .tippy-arrow:before {
    border-top-color: white;
  }
  &[data-placement^=left] .tippy-arrow:before {
    border-left-color: white;
  }
  &[data-placement^=bottom] .tippy-arrow:before {
    border-bottom-color: white;
  }
}

.tippy-box [class*=header] {
  align-items: center;
  // border-bottom: 2px solid;
  // @apply border-main;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 0.25rem;
  // max-width: 450px;
}

#debug_panel {
  display: block;
  display: none;
  position: absolute;
  top:0;
  left:0;
  z-index:10000000000000;
  background:darkred;
  padding:20px;
  width:400px;
  color:#fff;
}
#sidebar,.main-right-block{
  height: calc(100vh - 36px);
}
.dialog-panel-menu{
  #sidebar{
    height: 100%;
  }
}
#secondaryNav{
  overflow: auto;
}

.multilevel-select.react-dropdown-tree-select .dropdown .dropdown-content {
  position: relative;
}

#course_editor,
#course_view {
  font-family: var(--course-body-font);
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--course-headings-font);
  }
}