:root {
  --toastify-color-progress-light: linear-gradient(
    to right,
    theme('colors.main.secondary'),
    theme('colors.main.DEFAULT')
  );
}

.Toastify__toast-icon {
  align-self: flex-start;
  padding-top:3px;
}